# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# Django
db.sqlite3
*.log
media/

# Environment variables
.env
.env.*
!.env.example

# macOS
.DS_Store

# Editors
.vscode/
.idea/

# Testing / coverage
.coverage
htmlcov/
.pytest_cache/

# Build / packaging
build/
dist/
*.egg-info/

# Migrations cache
**/__pycache__/

# Static collected files
staticfiles/
