<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cinespoilers | Movies</title>
</head>

<body>
  <h1>Listado de películas</h1>

  {% if movies %}
  <ul>
    {% for movie in movies %}
    <li>
      <h2>{{ movie.title }} ({{ movie.release_year }})</h2>
      <p>{{ movie.description }}</p>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No hay películas registradas todavía.</p>
  {% endif %}
</body>

</html>
